/* Colors */
$dark-color: #333;
$grey-color: #bababa;
$grey-color-dark: #797979;
$grey-color-light: #e3e3e3;
$light-color: #f5f5f5;
$white-color: #fff;
$main-color: #f58220;
$main-color-light: #ffa200;
$success-color: #04ae00;
$success-color-light: #74b57a;
$success-color-lighter: #96cc9b;
$danger-color: #de5252;
$danger-color-light: #ec7171;
$info-color: #56819f;
$error-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;