.statBox {
  justify-content: space-between;
  padding: 40px 15px;
}

.statBox__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid $grey-color;
}

.statBox__label {
  font-weight: 700;
}